body {
    margin: 0;
    font-family: "Lexend", sans-serif;
    font-weight: 300;
}

main {
    display: grid;
    grid-template-columns: 0.5fr 4fr 1fr 1fr;
    grid-template-rows: 650px 3fr 3fr 1fr 1fr;
    grid-template-areas: 
        "header header header header"
        "aside section1 section1 section1"
        "aside section2 section3 section3"
        "aside section2 section4 section5"
        "footer footer footer footer";
}

header {
    grid-area: header;
    background-color: rgb(255, 153, 0);
    background-image: url('../assets/img/blasenhaus.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -30px;
    /*
    background-size: 100%;
    */
    padding-left: 1%;
    padding-top: 1%;
}

.topbar {
    display: flex;
}

.topbar img {
    max-width: 20%;
    min-width: 20%;
}

aside {
    grid-area: aside;
    background-color: orange;
}

.section1 {
    grid-area: section1;
    background-color: green;
}

.section2 {
    grid-area: section2;
    background-color: blue;
}

.section3 {
    grid-area: section3;
    background-color: aqua;
}

.section4 {
    grid-area: section4;
    background-color: salmon;
}

.section5 {
    grid-area: section5;
    background-color: rosybrown;
}

footer {
    grid-area: footer;
    color: white;
    text-align: center;
    background-color: #002379;
    padding-bottom: 1%;
}

footer .social {
    font-weight: 800;
}

.icons {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    height: 50px;
    padding-bottom: 1%;
}

.icons img {
    justify-content: center;
    max-width: 40px;
    max-height: auto;
}