body {
    margin: 0;
    font-family: "Lexend", sans-serif;
    font-weight: 300;
    background-color: #f9f2ee;
}

main {
    display: grid;
    grid-template-columns: 0.7fr 2.5fr 1fr 1fr;
    grid-template-rows: 710px 2fr 1fr 0.7fr 0.3fr;
    grid-template-areas:
        "header header header header"
        "aside section1 section1 section1"
        "aside section2 section3 section3"
        "aside section2 section4 section5"
        "footer footer footer footer";
}



.topbar {
    padding-top: 1%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: transparent;
    transition: background-color 0.3s ease;
    z-index: 1000;
}

.topbar.scrolled {
    background-color: #FF6200;
}

.topbar img {
    width: 300px;
    padding-left: 20px;
}

.btn-container {
    display: flex;
    gap: 50px;
    padding-right: 20px;
}

.btn-container button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 16px;
    padding: 10px;
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s;
    width: 100px;
}

.btn-container img {
    width: 30px;
    margin-bottom: 25px;
}



header {
    grid-area: header;
    background-color: #FF6200;
    background-image: url('../assets/img/blasenhaus.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -30px;
    padding-left: 1%;
    padding-top: 1%;
}

aside {
    grid-area: aside;
    background-color: #FF6200;
}

ul {
    list-style-type: none;
    padding-left: 10px;
    text-align: center;
}

li {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5em;
    font-weight: 800;
    color: white;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.section1 {
    grid-area: section1;
}

.section1 h1 {
    padding-left: 3%;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    max-width: 25%;
    padding: 2%;
    margin: 2%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.150);
}

.product-card img {
    max-width: 100%;
    border-radius: 10px;
}

.price-btn {
    display: flex;
    justify-content: space-between;
}

.price-btn p {
    font-weight: 800;
    font-size: 30px;
}

.price-btn span {
    font-size: 20px;
}

.price-btn button {
    background-color: #FF6200;
    padding-bottom: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    border: none;
    border-radius: 16px;
    padding: 10px;
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s;
    width: 100px;
}

.section2 {
    grid-area: section2;
    padding-left: 5%;
    padding-right: 5%;
}

.section1 h1,
.section2 h1,
.section3 h1 {
    font-size: 3em;
    font-weight: 900;
    font-family: "Lexend", sans-serif;
    color: black;
}

.section2 p {
    padding-bottom: 5%;
}

.container {
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;
}

.card {
    max-width: 50%;
    justify-content: center;
    padding-bottom: 7%;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffd0b2;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
}

.card img {
    max-width: 50%;
    max-height: 50%;
}

.card h2 {
    padding-top: 5%;
    padding-bottom: 3%;
}

.card p {
    padding-right: 5%;
    padding-left: 5%;
}

.card p,
.card h2,
.card img {
    display: flex;
    justify-content: center;
    margin: auto;
}

.section3 {
    grid-area: section3;
    padding-left: 5%;
    padding-right: 20%;
}

.section3 img {
    width: 100%;
    border-radius: 16px;
}

q {
    font-style: italic;
    padding-bottom: 2%;
}

.section4 {
    grid-area: section4;
    padding-left: 5%;
    padding-right: 10%;
}

.news-cont {
    position: relative;
    text-align: center;
    padding-bottom: 20px;
}

.news-cont img {
    display: block;
    width: 100%; 
}

.news-cont::before {
    content: "";
    position: absolute;
    bottom: 20px;
    border-radius: 0 0 16px 16px;
    left: 0;
    width: 100%;
    height: 100px; 
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    pointer-events: none; 
}

.subnews {
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-size: 15px;
    font-weight: 800;
    bottom: 20px;
    left: 0;
    z-index: 1;
}

.section3 .news-cont p {
    font-size: 20px;
}

.section5 img {
    width: 100%;
    border-radius: 16px;
}

.section5 {
    grid-area: section5;
    padding-left: 2%;
    padding-right: 30px;
}

footer {
    grid-area: footer;
    color: white;
    text-align: center;
    background-color: black;
    padding-top: 2%;
    padding-bottom: 2%;
}

footer .social {
    font-weight: 800;
}

.icons {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    height: 50px;
    padding-bottom: 1%;
}

.icons img {
    justify-content: center;
    max-width: 40px;
    max-height: auto;
}